
nav menu{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 0px;
}
nav menu a:hover{
    font-size:20px;
}
section{
    display: flex;
    flex-direction: row;
}
.link-images{
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.link-image{
    width: 33%;
    flex: 33%;
    padding: 10px;
    
}
.right-side-main{
    display: flex;
    flex:25%;
    flex-direction: column;
    background-color: #443020;
}
.left-side-main{
    display: flex;
    flex-direction: column;
    flex: 50%;
}
#image-scroller{
    flex: 50%;
}
#map{
    flex:50%;
    flex-shrink: 0;
    flex-grow: 1;
}
iframe{
    margin: auto;
    width: 50%;
    height: 75%;
    border: 3px black solid;
}
