body{
    display: flex;
    margin: 0px;
    height: auto;
}
nav menu{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 0px;
    margin: 0px;
}
nav menu a:hover{
    font-size:20px;
}
main{
    height: auto;
    padding: 0px;
    display: flex;
}
section{
    height: auto;
    display: flex;
    flex-direction: row;
}
.link-images{
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.link-image{
    width: 33%;
    flex: 33%;
    padding: 10px;
    
}
.right-side-main{
    padding: 0px;
    display: flex;
    flex:25%;
    flex-direction: column;
    background-color: #DED8CD;
    border-left: 2px solid black;
}
.left-side-main{
    display: flex;
    flex-direction: column;
    flex: 50%;
}
#image-scroller{
    flex: 50%;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex:0 1 0
}
.image-scroller-container{
    max-width: 75%;
    padding: 20px;
}
.image-scroller-container img{
    height: 100%;
    width: 100%;
}
#map{
    flex:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    flex: 1 0 0
}
iframe{
    height: 75%;
    border: 3px black solid;
    
}
footer{
    display: flex;
    flex:1 1 0;
}
footer nav,footer p{
    font-size: 14px;
}
.footer-links{
    flex:33%;
}
