body{
    display: flex;
}
main{
    height: auto;
    padding: 0px;
    display: flex;
}
section{
    height: auto;
    display: flex;
    flex-direction: row;
}
.link-images{
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.link-image{
    width: 33%;
    flex: 33%;
    padding: 10px;
    
}
.link-image img:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 600px 20px 0 rgba(0,0,0,0.19);
}
.right-side-main{
    padding: 0px;
    display: flex;
    flex:10%;
    flex-direction: column;
    background-color: #DED8CD;
    border-left: 2px solid black;
    max-width: 540px;
}
.left-side-main{
    display: flex;
    flex-direction: column;
    flex: 50%;
}
#image-scroller{
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex:0 1 0;
    min-height: 50%;
    max-height: 50%;
}
.image-scroller-container{
    max-width: 75%;
    padding: 20px;
}
.image-scroller-container img{
    height: 100%;
    width: 100%;
    max-width: 404px;
    max-height: 191px;
    border-radius: 10%;
}
#map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    flex: 1 0 0;
}
iframe{
    height: 75%;
    border: 3px black solid;
    max-height: 259px;
    max-width: 80%;
    border-radius: 10%;
}

