body{
    display: flex;
    flex-direction: column;
}
nav menu a:hover{
    text-decoration: underline #f2a903;
}
main{
    height: auto;
    padding: 0px;
    display: flex;
}
section{
    height: auto;
    display: flex;
    flex-direction: row;
}
.sidebar {
    display:flex;
    flex:15%;
    background-color: #DED8CD;
    border-right: 2px solid black;
    justify-content: center;
}
.sidebar nav menu{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.sidebar nav menu a{
    font-size: 16px;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    text-align: center;
    
}
.sidebar nav menu a:hover{
    text-decoration: underline black;
}
.info{
    font-size: 16px;
    display: flex;
    flex:85%;
    flex-direction: column;
    padding: 50px;
}
.info ul{
    text-align: left;
}
.link-images{
    display: flex;
    flex-direction: row;
}

footer nav,footer p{
    font-size: 14px;
}
.footer-links{
    flex:33%;
}