@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: auto;
    padding: 0;
    background: #FAF9F6;
    height: 100%;
    min-width: 100%;
}
.container{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0;
    border:0;
    height: auto;
    flex-direction: column;
    flex: 1 1 auto;
}
main{
    padding-top: 20px;
    text-align: center;
}
.sidebar{
    display: none;
}
.info{
 
    line-height: 1.5;;

}
.adress p{
    margin: 5px;
}
h2{
    font-size: 20px;
}
.underline{
    text-decoration: underline;
}
.centre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
button{
    background-color: #DED8CD;
    padding: 15px;
    border: 0px black solid;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 600px 20px 0 rgba(0,0,0,0.19); /* Used to get box shadow valueshttps://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_shadow*/
    border-radius: 12px;
    width: 50%;
    text-align: center;
}

.link-images{
    padding-top: 30px;
}
.link-image{
    max-width: 365px;
    width: 90%;
    margin:auto;
}
.link-image img{
    height: 100%;
    width: 100%;
    border-radius: 10%;
}
.link-image p{
    padding: 0px;
}

footer{
    display: flex;
    background-color: #333;
    color:white;
    flex-direction: row;
    font-size: 12px;
    flex:1 1 auto;
}
.footer-left-side{
    display: flex;
    flex-direction: column;
    flex: 50%;
}
.footer-left-side .logo{
    padding: 10px;
    padding-left: 0px;
}
.footer-left-side .logo img{
    filter: grayscale(1);
}
.footer-right-side{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex:50%;
}
.footer-links{
    padding: 10px;
    padding-bottom: 0px;
}
.footer-links nav menu{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.footer-links a{
    color: white;
    text-decoration: none;
}

