@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background: #FAF9F6;
}
.container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0;
    border:0;
}

.logo{
    width: 20%;
    max-width: 70px;
    max-height: auto;;
    display: flex;
    flex:0 1 0;
    justify-content: space-between;
    
}

.logo img{
    height: 100%;
    width: 100%;
}
header{
    background-color: #533f0e;
}
header nav menu{
    display: flex;
    padding: 0px;
    justify-content:space-evenly;
    padding: 5px;
    font-size: 13px;
}
header nav menu a{
    color: #f2a903;
    text-decoration: none;
    position: relative;
    padding: 5px;
}

main{
    padding-top: 20px;
    text-align: center;
}
section h1, section h2, section p  {
    padding: 10px;
}
.link-image{
    max-width: 365px;
    height: auto;
    width: 90%;
    margin:auto;
}
.link-image img{
    height: 100%;
    width: 100%;
    border-radius: 10%;
}
.link-image p{
    padding: 0px;
}
.sidebar{
    display: none;
}

footer{
    display: flex;
    background-color: #333;
    color:white;
    flex-direction: row;
    font-size: 12px;
}
.right-side{
    flex: 50%;
}
.left-side{
    display: flex;
    flex-direction: column;
    flex: 50%;
}
.left-side .logo{
    padding: 10px;
    padding-left: 0px;
}
.left-side .logo img{
    filter: grayscale(1);
}
.right-side{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer-links{
    padding: 10px;
    padding-bottom: 0px;
}
.footer-links nav menu{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
.footer-links a{
    color: white;
    text-decoration: none;
}

